<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167134224141-9oo2ah9l2s85e3vqje908esh6unvsnq8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167134224141-9oo2ah9l2s85e3vqje908esh6unvsnq8</string>
	<key>API_KEY</key>
	<string>AIzaSyBanQCTn5y3RmHXbMdRKbJ-BwGFc7V57ew</string>
	<key>GCM_SENDER_ID</key>
	<string>167134224141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.goRoute</string>
	<key>PROJECT_ID</key>
	<string>routes-49d43</string>
	<key>STORAGE_BUCKET</key>
	<string>routes-49d43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167134224141:ios:1bc9e78f8c081b0cab5a44</string>
</dict>
</plist>